<div id="root">
    <div id="pause-layer" *ngIf="pausing" [class.transit-out]="pauseTransitingOut"></div>

    <div id="control-layer" [class.mouse-stopped]="!mouseMoving">
        <div class="page-number">{{nextTransiting?(currentPage+2):previousTransiting?(currentPage):(currentPage+1)}}/{{slideTexts.length}}</div>
        <div class="control-button-group">
            <button class="button button-borderless" (click)="previousPage()"><i class="fa fa-angle-left"></i></button>
            <button class="button button-borderless" (click)="nextPage()"><i class="fa fa-angle-right"></i></button>
        </div>
    </div>

    <div *ngIf="currentPage>=0" class="background" [class.mouse-stopped]="!mouseMoving">
        <div class="markdown previous" [class.transit-right]="previousTransiting" *ngIf="currentPage>=1">
            <div class="content" [innerHtml]="slideTexts[currentPage-1] | markdownToHtml | sanitizeHtml"></div>
        </div>
        <div class="markdown current" [class.transit-right]="previousTransiting" [class.transit-left]="nextTransiting" #currentSlide>
            <div class="content" [innerHtml]="slideTexts[currentPage] | markdownToHtml | sanitizeHtml"></div>
        </div>
        <div class="markdown next" [class.transit-left]="nextTransiting" *ngIf="currentPage<slideTexts.length-1">
            <div class="content" [innerHtml]="slideTexts[currentPage+1] | markdownToHtml | sanitizeHtml"></div>
        </div>
    </div>

    <div id="progress-bar">
        <div class="current-progress" [ngStyle]="{'width':(nextTransiting?(currentPage+2):previousTransiting?(currentPage):(currentPage+1))*100/slideTexts.length+'%'}"></div>
    </div>

</div>
