#control-layer{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    user-select: none;
    cursor: default;
    z-index: 100;
    .page-number{
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.4em 0.8em;
        color: #949494;
    }
    .control-button-group{
        user-select: element;
        position: absolute;
        bottom:20px;
        right: 30px;
        z-index:1000;
        .button{
            font-size: 48px;
            padding: 6px;
            margin-left: 24px;
            color: #949494;
            transition: color 300ms ease;
        }
        .button:hover{
            color: #232323;
        }
    }
}
#control-layer.mouse-stopped{
    transition: opacity 500ms ease, left 1ms linear 500ms;
    opacity: 0;
    left: -100vw;
    cursor: none;
}

.background{
    width:100vw;
    height: 100vh;
    cursor: default;
    user-select: none;

}
.background.mouse-stopped{
    cursor: none;
}


#progress-bar{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:4px;
    .current-progress{
        height:100%;
        background-color: #6a737d;
        transition: width 150ms ease;
    }
}

.markdown{
    width:80vw;
    height: 80vh;
    overflow-y: scroll;
    position: absolute;
    top:0;
    padding:10vh 10vw;
    user-select: none;
}

.markdown.previous{
    left:-100vw;
}

.markdown.current{
    left:0;
}

.markdown.next{
    left:100vw;
}

.markdown.previous.transit-right{
    left:0;
    transition: left 400ms ease;
}
.markdown.current.transit-right{
    left:100vw;
    transition: left 400ms ease;
}
.markdown.current.transit-left{
    left:-100vw;
    transition: left 400ms ease;
}
.markdown.next.transit-left{
    left:0;
    transition: left 400ms ease;
}
