.background{
    width:100%;
    height: 100vh;
    cursor: default;
    user-select: none;
}
.background.mouse-stopped{
    cursor: none;
}

.control-button-group{
    position: fixed;
    bottom:20px;
    text-align: center;
    width:100%;
    z-index:1000;
    user-select: none;
}

.markdown{
    width:80%;
    height: 80vh;
    overflow-y: scroll;
    position: absolute;
    top:0;
    padding:10vh 10%;
    user-select: none;
}

.markdown.previous{
    left:-100%;
}

.markdown.current{
    left:0;
}

.markdown.next{
    left:100%;
}

.markdown.previous.transit-right{
    left:0;
    transition: left 400ms ease;
}
.markdown.current.transit-right{
    left:100%;
    transition: left 400ms ease;
}
.markdown.current.transit-left{
    left:-100%;
    transition: left 400ms ease;
}
.markdown.next.transit-left{
    left:0;
    transition: left 400ms ease;
}
